@model IEnumerable<Restorant.Models.Menu>//yada burda
@* @model IEnumerable<Restorant.Models.Tatlı> *@
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baykuş Kafe</title>
    <link rel="shortcut icon" href="/Resimler/İmages/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/menü.css">

</head>
<body>
    <section id="sayfa1">
        <div class="conteiner">
            <header>
                <div class="title">
                    <div class="rsm"><img src="/Resimler/İmages/2.png" alt=""></div>
                </div>
               @*  <div class="icon-cart">
                    <img src="images/4758454-200.png">
                    <span>0</span>
                </div> *@
            </header>
        </div>
        <div class="cartTab">
            <h1>Shopping Cart</h1>
            <div class="listcart">
                show item here
            </div>
            <div class="btn">
                <button class="close">CLOSE</button>
                <button class="checkOut">
                    Check Out
                </button>
            </div>
        </div>

        <div class="conteiner">
            <nav class="dropdown">
                <ul>

                    <li><a href="#sayfa2">Kahveler</a></li>
                    <li><a href="#sayfa3">Tatlılar</a></li>
                    <li><a href="#sayfa4">Yemekler</a></li>
                    <li><a href="#sayfa5">Ara Sıcaklar</a></li>
                    <li><a href="#sayfa6">içecekler</a></li>
                </ul>
            </nav>
        </div>
     </div>
        <!-- <div class="yazilar">
           <h3 class="baslik">Hoş Geldiniz</h3>
           <p>Kafemizde seçtiğiniz ürünler özel bir titizlike hazırlanıp sizlere en kısa sürede teslim edilmektedir ayrıca kafemizde <br> ilk ve tek olmak üzere sadece servis garsonları vardır siparişiniz masanınızın üzerinde bulunan karekodu
           okutarak menümüze <br> erişebilir ve ordan seçtiğiniz ürünleri sepetinize ekleyip ödemenizi anında gerçekleştirip siparşinizi verebilirsiniz</p>
        </div> -->

    </section>

    <section id="sayfa2">
        ,
        <div class="conteiner">
            <nav class="dropdown">
                <ul>

                    <li><a href="#sayfa1">AnaSayfa</a></li>
                    <li><a href="#sayfa3">Tatlılar</a></li>
                    <li><a href="#sayfa4">Yemekler</a></li>
                    <li><a href="#sayfa5">Ara Sıcaklar</a></li>
                    <li><a href="#sayfa6">içecekler</a></li>
                </ul>

                <div class="ana-cart">
                    @foreach (var item in Model)
                    {
                        <div class="cart">
                            <div class="cart-rsm">
                                <img src="@item.Resim" alt="">
                            </div>
                            <div class="cart-fyt">
                                <br /><h1>@item.Baslik</h1>
                                <br /><h2>@item.Fiyat TL</h2>
                            </div>
                        </div>
                    }
                </div>

                <br />

               @*  <div class="alt-cart">
                    @foreach (var item in Model)
                    {
                        <div class="cart">
                            <div class="cart-rsm">
                                <img src="@item.Resim" alt="">
                            </div>
                            <div class="cart-fyt">
                                <h1>@item.Baslik</h1>
                                <h2>@item.Fiyat TL</h2>
                            </div>
                        </div>
                    }
                </div>

 *@






            </nav>
        </div>
        </div>
    </section>

    <section id="sayfa3">
        <div class="conteiner">
            <nav class="dropdown">
                <ul>

                    <li><a href="#sayfa1">AnaSayfa</a></li>
                    <li><a href="#sayfa2">Kahveler</a></li>
                    <li><a href="#sayfa4">Yemekler</a></li>
                    <li><a href="#sayfa5">Ara Sıcaklar</a></li>
                    <li><a href="#sayfa6">içecekler</a></li>
                </ul>

                

            </nav>
        </div>
        </div>
    </section>

    <section id="sayfa4">
        <div class="conteiner">
            <nav class="dropdown">
                <ul>

                    <li><a href="#sayfa1">AnaSayfa</a></li>
                    <li><a href="#sayfa2">Kahveler</a></li>
                    <li><a href="#sayfa3">Tatlılar</a></li>
                    <li><a href="#sayfa5">Ara Sıcaklar</a></li>
                    <li><a href="#sayfa6">içecekler</a></li>
                </ul>


            </nav>
        </div>
        </div>
    </section>

    <section id="sayfa5">
        <div class="conteiner">
            <nav class="dropdown">
                <ul>

                    <li><a href="#sayfa1">AnaSayfa</a></li>
                    <li><a href="#sayfa2">Kahveler</a></li>
                    <li><a href="#sayfa3">Tatlılar</a></li>
                    <li><a href="#sayfa4">Yemekler</a></li>
                    <li><a href="#sayfa6">içecekler</a></li>
                </ul>


             

            </nav>
        </div>
        </div>
    </section>

    <section id="sayfa6">
        <div class="conteiner">
            <nav class="dropdown">
                <ul>

                    <li><a href="#sayfa1">AnaSayfa</a></li>
                    <li><a href="#sayfa2">Kahveler</a></li>
                    <li><a href="#sayfa3">Tatlılar</a></li>
                    <li><a href="#sayfa4">Yemekler</a></li>
                    <li><a href="#sayfa5">Ara Sıcaklar</a></li>
                </ul>

            

            </nav>
        </div>
        </div>
    </section>

    @* <script src="menu.js" type="module"></script> *@


</body>
</html>